.profile__avatar {
  display: flex;
  z-index: 10;
  flex-direction: column;
  width: 28%;
  max-height: 400px;
  height: 40vh;
  padding: 5px 10px;
  background-color: #302b40;
}
.profile_avatar_img_wrap{
  width: 100%;
  height: 85%;
  margin: 3px auto;
  border-radius: 3px; 
}
.profile__avatar_img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden; 
  height: 100%;
  left: 0;
  top: 0;
  
  border-radius: 3px; 
}
.profile__photo{
  opacity: 0;
  visibility: hidden;
}
.profile__edit{
  width: 100%;
  height: 10%;
  padding-top: 4.5%;
  background-color: #48405c;
  margin: 5px auto;
  text-align: center;
  color: rgb(190, 185, 75);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 3px;
}
.profile__edit:hover{
  background-color: #2b2538;
}

@media (max-width: 1200px){
  .profile__edit{
   font-size: 13px;
  }
}
@media (max-width: 1024px){
  .profile__avatar {
    width: 33%;
    height: 40vw;
  }
}
@media (max-width: 768px){
  .profile__avatar {
    width: 36vh;
    height: 40vh;
    margin-bottom: 50px;
  }
  .profile__edit{
    padding-top: 2%;
    padding-bottom: 3%;
  }
}
@media (max-width: 420px){
  .profile__avatar {
    width: 33vh;
    height: 38vh;
    margin-bottom: 50px;
  }
  .profile__edit{
    padding-top: 2%;
    padding-bottom: 3%;
  }
}