.message__wrapper{
    width: 100%;
}
.message__item{
    background-color: #3f3d4d;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
    height: initial;
    min-height: 45px;
    min-width: 20%;
    max-width: 60%;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
@media (max-width: 770px){
    .message__item{
        font-size: 13px;
    }
}
@media (max-width: 420px){
    .message__item{
        font-size: 12px;
    }
}