.Login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgb(190, 185, 75);
    width: 350px;
    height: 550px;
    margin: 200px auto;
    padding: 20px;
}
.Login_Title{
    font-size: 48px;
    height: 30%;
    padding-top: 40px;
    margin: 0 auto;
    text-transform: uppercase;
}
