.descr{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.building{
    margin: 70px auto;
    width: 10%;
    color: #fff;
}
.descr__text{
    margin: 210px auto 0 auto;
    font-size: 20px;
    color: rgb(219, 250, 41);
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
}