.header__nav{
    display:flex;
    width: 100%;
    max-width: 1250px;
    align-items: center;
    justify-content: space-between;
  }
  .nav__link{
    width: 40%;
    font-size: 24px;
    padding: 15px 0;
    text-align: center;
    color: rgb(190, 185, 75);
    text-decoration: none;
    /* border-right: 1px solid rgba(191, 157, 201, 0.1); */
  }
  .nav__link:hover{
    background-color: rgba(60, 50, 84, 0.9);
  }
  .nav__link.active {
    color: #999;
  }